html {
    font-family: Quicksand;
    height: 100%;
    color: #024554;
    width: 95%;
}

#nav {
    display: flex;
    position: relative;
    z-index: 1;
    background-color: #C2C0A6;
    width: 100%;
    padding: 2%;
    border-radius: 12px;
    justify-content: space-between;
}

#title a {
    text-decoration: none;
    color: #024554;

}

h1 {
    font-size: 30px;
    text-align: start;
}

li a {
    display: block;
    width: 100%;
    float: right;
    padding: 10px;
    margin: 10px;
    text-align: centre;
    text-decoration: none;
}

li a:visited {
    color: #024554;
  }

li a:hover {
    color: #6A8C69;
  }


#list-items {
    display: flex;
    color:#A8B545;
    list-style-type: none;    
}

#about-me {
    position: relative;
    padding: 3%;
}

#me {
    width: 500px;
    float: right;
    border-radius: 12px;
    margin-left: 3%;
}

#projects {
    padding: 3%;
}

li {
    margin-left: 5%;
}

#skills {
    padding: 3%;
}

#html, #css, #js, #react, #github {
    width: 75px;
    margin: 3%;
    display: inline-flex;
    justify-content: center;
}

#html:hover {
    width: 100px;
    transition: 1s ease;
}

#css:hover {
    width: 100px;
    transition: 1s ease;
}

#js:hover {
    width: 100px;
    transition: 1s ease;
}

#react:hover {
    width: 100px;
    transition: 1s ease;
}

#github:hover {
    width: 100px;
    transition: 1s ease;
}

footer {
    padding: 3%;
    text-align: center;
}